@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

header .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-flex {
  display: flex;
  flex-direction: row;
}

.section-title {
  font-size: 36px;
  line-height: 1.167;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo.bgc-light {
  color: #212121;
  margin-right: 0;
}

.logo.bgc-dark {
  color: #ffffff;
}

.main-nav {
  display: flex;
}

.main-nav .logo.link {
  margin-right: 93px;
}

.main-nav .site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.link.current {
  color: #2196F3;
}

.link.current::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -30px;
  left: 0;
  background-color: #2196F3;
}

header {
  border-bottom: 1px solid #ECECEC;
}

header .list {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.contacts .link {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196F3;
}

.contacts .item:not(:first-child) {
  margin-left: 30px;
}

.list.contacts {
  margin-left: auto;
}

.icon-phone,
.icon-envelope {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.phone-set {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.phone-set:hover, .phone-set:focus {
  color: #2196F3;
}

.mail-set {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mail-set:hover, .mail-set:focus {
  color: #2196F3;
}

address .footer.link {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

address .footer.address {
  color: #ffffff;
  font-style: normal;
}

.contacts .phone,
.contacts .email {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

.filters-button {
  display: inline-flex;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.filters-button:hover, .filters-button:focus {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

footer {
  background-color: #2F303A;
}

.join-us {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-top: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-footer:not(:last-child) {
  margin-right: 70px;
}

footer .logo.link {
  display: inline-block;
  margin-bottom: 20px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.advantages .container {
  padding-bottom: 0;
  padding-top: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list-item::before {
  content: '';
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.advantages-list-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.advantages-list-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.advantages-list-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.list-advantages {
  font-size: 14px;
  line-height: 1.143;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.list-desсription {
  line-height: 1.714;
}

.we-do .list {
  display: flex;
  justify-content: space-between;
}

.we-do-thumb {
  position: relative;
}

.we-do-label {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-name {
  font-size: 16px;
  line-height: 1.188;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-position {
  font-size: 16px;
  line-height: 1.188;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-advantages,
.team-name {
  margin-bottom: 10px;
}

.list-desription {
  margin-bottom: 0;
}

.team-position {
  margin-bottom: 16;
}

.team .list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #F5F4FA;
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team img {
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #AFB1B8;
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
}

footer .social-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

footer .social-icons-link:hover, footer .social-icons-link:focus {
  background-color: #2196F3;
}

.partners-list {
  display: flex;
}

.partners-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
}

.partners-list-link:hover, .partners-list-link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.partners-list-item:not(:last-child) {
  margin-right: 30px;
}

.partners-logo-svg {
  fill: currentColor;
  display: block;
}

.filters {
  text-align: center;
  margin-bottom: 50px;
}

.filters .filters-button {
  margin-right: 8px;
}

.projects img {
  width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  color: #757575;
}

.project-item {
  width: 370px;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
}

.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project-card {
  display: inline-block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:focus,
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}

.project-description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-card:hover .project-description-overlay,
.project-card:focus .project-description-overlay {
  transform: translateY(0);
}

.project-item:hover .project-description-overlay,
.project-item:focus .project-description-overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* display: flex; */
  width: 528px;
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.modal-close-button:hover, .modal-close-button:focus {
  fill: #2196F3;
}

.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 16px 12px 42px;
  color: #2196F3;
}

.modal-input:hover, .modal-input:focus, .modal-input:active {
  border-color: #2196F3;
  outline: 1px solid #2196F3;
}

.modal-input.comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #212121;
  margin-bottom: 20px;
}

.modal-input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-label-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.link-agreement {
  color: #2196F3;
  margin-left: 5px;
}

.modal-form .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 55px;
  padding-left: 55px;
}

.field-form {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  fill: #212121;
  left: 15px;
  top: 28px;
}

.modal-input:hover + .input-icon {
  fill: #2196F3;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/checkicon.svg);
  background-size: contain;
  background-origin: border-box;
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.subscribe {
  margin-left: auto;
}

.subscribe-label {
  display: block;
  margin-bottom: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */