footer {
    background-color: $bgc-secondary;
}

.join-us {
    @include font-param(14px, 1.14, 700);
    margin-top: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $bgc-main;
}

.contacts-footer:not(:last-child) {
    margin-right: 70px;
}    

footer .logo.link {
    display: inline-block;
    margin-bottom: 20px; 
}